<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gh.mapper.UserMapper">
    <!-- 配置查询所有用户 -->
    <select id="listAllUsers" resultType="cn.gh.pojo.User">
        SELECT * FROM user
    </select>
    <!--添加用户-->
    <insert id="saveUser" parameterType="cn.gh.pojo.User">
        INSERT INTO user(username,birthday,sex,address) VALUES (#{username},#{birthday},#{sex},#{address})
    </insert>
    <!--删除用户-->
    <delete id="removeUserById" parameterType="java.lang.Integer">
        DELETE FROM user WHERE id = #{uid}
    </delete>
    <!--修改用户-->
    <update id="updateUser" parameterType="cn.gh.pojo.User">
        UPDATE user SET username = #{username}, birthday = #{birthday}, sex = #{sex}, address = #{address} WHERE id = #{id}
    </update>
    <!--查询单个用户-->
    <select id="getUserById"  resultType="cn.gh.pojo.User">
        SELECT * FROM user WHERE id = #{uid}
    </select>
    <!--根据姓名模糊查询多个用户-->
    <select id="listUsersByName" parameterType="java.lang.String" resultType="cn.gh.pojo.User">
       <!-- SELECT * FROM user WHERE username LIKE #{name} -->
        SELECT * FROM user WHERE username LIKE concat('%',#{name},'%');
    </select>
    <!--查询用户总数-->
    <select id="countUser" parameterType="java.lang.Integer" resultType="int">
        SELECT count(id) FROM user
    </select>
    <!-- 添加用户，同时获取 id 的返回值 -->
    <insert id="saveUser" parameterType="cn.gh.pojo.User">
        <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user(username,birthday,sex,address) VALUES (#{username},#{birthday},#{sex},#{address})
    </insert>


</mapper>
